.full-width {
    width:100%;
}
.full-height {
    height:100%;
}
.bg-primary {
    background: #2cb8d1 !important; // var()が効かない
}
.bg-white {
    background:#ffff !important;
}


.primary-button {
    color: #ffff !important;
    background: #2cb8d1 !important; // var()が効かない
    width:8rem;
    border-radius: 2px;
}

.serif-font {
    font-family:serif;
}

.georgia-font {
    font-family:Georgia,Times, serif;
}

.position-right {
    position: absolute;
    right: 0;
}